<!DOCTYPE html>
<html>
<head>
<title>Quiz</title>
<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/yes.js') }}"></script> -->
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div>
<h1>1. I can make friends easily</h1>
	<form name="quiz" id="quiz">
		<label><input type="radio" name="b1" value="1" checked><span>1</span></label>
		<label><input type="radio" name="b1" value="2"><span></span></label>
		<label><input type="radio" name="b1" value="3"><span>3</span></label>
		<label><input type="radio" name="b1" value="4"><span></span></label>
		<label><input type="radio" name="b1" value="5"><span>5</span></label>
	</form>
</div>
<div>
	<h1>2. I possess good communication skills</h1>
	<form name="quiz1" id="quiz1">
			<label><input type="radio" name="b2" value="1" checked><span>1</span></label>
			<label><input type="radio" name="b2" value="2"><span></span></label>
			<label><input type="radio" name="b2" value="3"><span>3</span></label>
			<label><input type="radio" name="b2" value="4"><span></span></label>
			<label><input type="radio" name="b2" value="5"><span>5</span></label>
		</form>
	</div>
	<div>
		<h1>3. I am good at art and designs</h1>
		<form name="quiz2" id="quiz2">
				<label><input type="radio" name="b3" value="1" checked><span>1</span></label>
				<label><input type="radio" name="b3" value="2"><span></span></label>
				<label><input type="radio" name="b3" value="3"><span>3</span></label>
				<label><input type="radio" name="b3" value="4"><span></span></label>
				<label><input type="radio" name="b3" value="5"><span>5</span></label>
			</form>
	</div>
	<div>
		<h1>4. I am good at programming and have sound technical skills</h1>
		<form name="quiz3" id="quiz3">
				<label><input type="radio" name="b4" value="1" checked><span>1</span></label>
				<label><input type="radio" name="b4" value="2"><span></span></label>
				<label><input type="radio" name="b4" value="3"><span>3</span></label>
				<label><input type="radio" name="b4" value="4"><span></span></label>
				<label><input type="radio" name="b4" value="5"><span>5</span></label>
			</form>
	</div>
	<div>
		<h1>5. I am good at convincing people</h1>
		<form name="quiz4" id="quiz4">
				<label><input type="radio" name="b5" value="1" checked><span>1</span></label>
				<label><input type="radio" name="b5" value="2"><span></span></label>
				<label><input type="radio" name="b5" value="3"><span>3</span></label>
				<label><input type="radio" name="b5" value="4"><span></span></label>
				<label><input type="radio" name="b5" value="5"><span>5</span></label>
			</form>
	</div>
	<div>
		<h1>6. I am good at innovation and ideation</h1>
		<form name="quiz5" id="quiz5">
				<label><input type="radio" name="b6" value="1" checked><span>1</span></label>
				<label><input type="radio" name="b6" value="2"><span></span></label>
				<label><input type="radio" name="b6" value="3"><span>3</span></label>
				<label><input type="radio" name="b6" value="4"><span></span></label>
				<label><input type="radio" name="b6" value="5"><span>5</span></label>
			</form>
	</div>
	<div>
		<h1>7. I am good at problem solving</h1>
		<form name="quiz6" id="quiz6">
				<label><input type="radio" name="b7" value="1" checked><span>1</span></label>
				<label><input type="radio" name="b7" value="2"><span></span></label>
				<label><input type="radio" name="b7" value="3"><span>3</span></label>
				<label><input type="radio" name="b7" value="4"><span></span></label>
				<label><input type="radio" name="b7" value="5"><span>5</span></label>
			</form>
	</div>
	<div>
		<h1>8. I am good at thinking of creative games</h1>
		<form name="quiz7" id="quiz7">
				<label><input type="radio" name="b8" value="1" checked><span>1</span></label>
				<label><input type="radio" name="b8" value="2"><span></span></label>
				<label><input type="radio" name="b8" value="3"><span>3</span></label>
				<label><input type="radio" name="b8" value="4"><span></span></label>
				<label><input type="radio" name="b8" value="5"><span>5</span></label>
			</form>
	</div>
	<div>
		<h1>9. I enjoy building corporate relations</h1>
		<form name="quiz8" id="quiz8">
				<label><input type="radio" name="b9" value="1" checked><span>1</span></label>
				<label><input type="radio" name="b9" value="2"><span></span></label>
				<label><input type="radio" name="b9" value="3"><span>3</span></label>
				<label><input type="radio" name="b9" value="4"><span></span></label>
				<label><input type="radio" name="b9" value="5"><span>5</span></label>
			</form>
	</div>
	<div>
		<h1>10. I am good at negotiating & bargaining</h1>
		<form name="quiz9" id="quiz9">
				<label><input type="radio" name="b10" value="1" checked><span>1</span></label>
				<label><input type="radio" name="b10" value="2"><span></span></label>
				<label><input type="radio" name="b10" value="3"><span>3</span></label>
				<label><input type="radio" name="b10" value="4"><span></span></label>
				<label><input type="radio" name="b10" value="5"><span>5</span></label>
			</form>
	</div>
	<div>
		<h1>11. I enjoy doing hospitality</h1>
		<form name="quiz10" id="quiz10">
				<label><input type="radio" name="b11" value="1" checked><span>1</span></label>
				<label><input type="radio" name="b11" value="2"><span></span></label>
				<label><input type="radio" name="b11" value="3"><span>3</span></label>
				<label><input type="radio" name="b11" value="4"><span></span></label>
				<label><input type="radio" name="b11" value="5"><span>5</span></label>
			</form>
	</div>
	<div>
		<h1>12.  I tend to keep up with the latest social media trends</h1>
		<form name="quiz11" id="quiz11">
				<label><input type="radio" name="b12" value="1" checked><span>1</span></label>
				<label><input type="radio" name="b12" value="2"><span></span></label>
				<label><input type="radio" name="b12" value="3"><span>3</span></label>
				<label><input type="radio" name="b12" value="4"><span></span></label>
				<label><input type="radio" name="b12" value="5"><span>5</span></label>
			</form>
	</div>
	<div>
		<h1>13.  I am good at organising and managing</h1>
		<form name="quiz12" id="quiz12">
				<label><input type="radio" name="b13" value="1" checked><span>1</span></label>
				<label><input type="radio" name="b13" value="2"><span></span></label>
				<label><input type="radio" name="b13" value="3"><span>3</span></label>
				<label><input type="radio" name="b13" value="4"><span></span></label>
				<label><input type="radio" name="b13" value="5"><span>5</span></label>
			</form>
	</div>
	<div>
		<h1>14.  I drive to college</h1>
		<form name="quiz13" id="quiz13">
				<label><input type="radio" name="b14" value="1" checked><span>1</span></label>
				<label><input type="radio" name="b14" value="2"><span></span></label>
				<label><input type="radio" name="b14" value="3"><span>3</span></label>
				<label><input type="radio" name="b14" value="4"><span></span></label>
				<label><input type="radio" name="b14" value="5"><span>5</span></label>
			</form>
	</div>
	<div>
		<h1>15.  I can understand composition, rhythm and quality of social media posts</h1>
		<form name="quiz14" id="quiz14">
				<label><input type="radio" name="b15" value="1" checked><span>1</span></label>
				<label><input type="radio" name="b15" value="2"><span></span></label>
				<label><input type="radio" name="b15" value="3"><span>3</span></label>
				<label><input type="radio" name="b15" value="4"><span></span></label>
				<label><input type="radio" name="b15" value="5"><span>5</span></label>
			</form>
	</div>
	<div>
		<h1>16.  I am good at sketching out my creative ideas</h1>
		<form name="quiz15" id="quiz15">
				<label><input type="radio" name="b16" value="1" checked><span>1</span></label>
				<label><input type="radio" name="b16" value="2"><span></span></label>
				<label><input type="radio" name="b16" value="3"><span>3</span></label>
				<label><input type="radio" name="b16" value="4"><span></span></label>
				<label><input type="radio" name="b16" value="5"><span>5</span></label>
			</form>
	</div>
	<div>
		<h1>17.   tend to keep up with the latest tech trends</h1>
		<form name="quiz16" id="quiz16">
				<label><input type="radio" name="b17" value="1" checked><span>1</span></label>
				<label><input type="radio" name="b17" value="2"><span></span></label>
				<label><input type="radio" name="b17" value="3"><span>3</span></label>
				<label><input type="radio" name="b17" value="4"><span></span></label>
				<label><input type="radio" name="b17" value="5"><span>5</span></label>
			</form>
	</div>
	<div>
		<h1>18.  I'm good at managing finances</h1>
		<form name="quiz17" id="quiz17">
				<label><input type="radio" name="b18" value="1" checked><span>1</span></label>
				<label><input type="radio" name="b18" value="2"><span></span></label>
				<label><input type="radio" name="b18" value="3"><span>3</span></label>
				<label><input type="radio" name="b18" value="4"><span></span></label>
				<label><input type="radio" name="b18" value="5"><span>5</span></label>
			</form>
	</div>
	<div>
		<h1>19.  I am good with words and content writing</h1>
		<form name="quiz18" id="quiz18">
				<label><input type="radio" name="b19" value="1" checked><span>1</span></label>
				<label><input type="radio" name="b19" value="2"><span></span></label>
				<label><input type="radio" name="b19" value="3"><span>3</span></label>
				<label><input type="radio" name="b19" value="4"><span></span></label>
				<label><input type="radio" name="b19" value="5"><span>5</span></label>
			</form>
	</div>
	<div>
		<h1>20.   I am good at thinking of tech-based events</h1>
		<form name="quiz19" id="quiz19">
				<label><input type="radio" name="b20" value="1" checked><span>1</span></label>
				<label><input type="radio" name="b20" value="2"><span></span></label>
				<label><input type="radio" name="b20" value="3"><span>3</span></label>
				<label><input type="radio" name="b20" value="4"><span></span></label>
				<label><input type="radio" name="b20" value="5"><span>5</span></label>
			</form>
	</div>
	<div>
		<h1>21.   I am good at taking photos and videos</h1>
		<form name="quiz20" id="quiz20">
				<label><input type="radio" name="b21" value="1" checked><span>1</span></label>
				<label><input type="radio" name="b21" value="2"><span></span></label>
				<label><input type="radio" name="b21" value="3"><span>3</span></label>
				<label><input type="radio" name="b21" value="4"><span></span></label>
				<label><input type="radio" name="b21" value="5"><span>5</span></label>
			</form>
	</div>
	<div>
		<h1>22.   I have good relations with people from other MPSTME committees</h1>
		<form name="quiz21" id="quiz21">
				<label><input type="radio" name="b22" value="1" checked><span>1</span></label>
				<label><input type="radio" name="b22" value="2"><span></span></label>
				<label><input type="radio" name="b22" value="3"><span>3</span></label>
				<label><input type="radio" name="b22" value="4"><span></span></label>
				<label><input type="radio" name="b22" value="5"><span>5</span></label>
			</form>
	</div>
	<div>
		
		

		<form action="{{url_for('result')}}" method="POST">
			<input type="hidden" type="text" id="modeldata" class="form__input" name='modeldata' />
			<input type="submit" value="Sign In" id=submit onclick="check()">		
		</form>
	</div>
</body>
<script>
	function check() {
    var q1=document.quiz.b1.value;
    var q2=document.quiz1.b2.value;
    var q3=document.quiz2.b3.value;
    var q4=document.quiz3.b4.value;
    var q5=document.quiz4.b5.value;
    var q6=document.quiz5.b6.value;
    var q7=document.quiz6.b7.value;
    var q8=document.quiz7.b8.value;
    var q9=document.quiz8.b9.value;
    var q10=document.quiz9.b10.value;
    var q11=document.quiz10.b11.value;
    var q12=document.quiz11.b12.value;
    var q13=document.quiz12.b13.value;
    var q14=document.quiz13.b14.value;
    var q15=document.quiz14.b15.value;
    var q16=document.quiz15.b16.value;
    var q17=document.quiz16.b17.value;
    var q18=document.quiz17.b18.value;
    var q19=document.quiz18.b19.value;
    var q20=document.quiz19.b20.value;
    var q21=document.quiz20.b21.value;
    var q22=document.quiz21.b22.value;


    var modeldata = [q1, q2, q3,q4,q5,q6,q7,q8,q9,q10,q11,q12,q13,q14,q15,q16,q17,q18,q19,q20,q21, q22];
        console.log(modeldata);
	var input = document.querySelector('input[name="modeldata"]');
	input.value = modeldata;
	 ;}
</script>
</html>